flows (1) - cópia.json
[
    {
        "id": "f59e878150529064",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ef061531de84892",
        "type": "change",
        "z": "f59e878150529064",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "{\"d\":",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "e2d85603b2095f09"
            ]
        ]
    },
    {
        "id": "314efdcdfa07d545",
        "type": "json",
        "z": "f59e878150529064",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "97e6a5f84fb891da"
            ]
        ]
    },
    {
        "id": "0cb96b7488fb6052",
        "type": "debug",
        "z": "f59e878150529064",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 740,
        "wires": []
    },
    {
        "id": "97e6a5f84fb891da",
        "type": "change",
        "z": "f59e878150529064",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"}}",
                "fromt": "str",
                "to": "%\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "6ef061531de84892"
            ]
        ]
    },
    {
        "id": "e2d85603b2095f09",
        "type": "json",
        "z": "f59e878150529064",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "0cb96b7488fb6052",
                "17716256c7348284"
            ]
        ]
    },
    {
        "id": "bf08f360e2c5e05c",
        "type": "http request",
        "z": "f59e878150529064",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/posttadl",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 420,
        "wires": [
            [
                "6455dbcd2008524a",
                "7b5d8cb6f028ce8d"
            ]
        ]
    },
    {
        "id": "6455dbcd2008524a",
        "type": "http response",
        "z": "f59e878150529064",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "7b5d8cb6f028ce8d",
        "type": "debug",
        "z": "f59e878150529064",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "17716256c7348284",
        "type": "delay",
        "z": "f59e878150529064",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 580,
        "wires": [
            [
                "bf08f360e2c5e05c"
            ]
        ]
    },
    {
        "id": "91c8d1525e58bb53",
        "type": "ibmiot in",
        "z": "f59e878150529064",
        "d": true,
        "authentication": "apiKey",
        "apiKey": "33c70ad655efea99",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "umdtadl",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "314efdcdfa07d545"
            ]
        ]
    },
    {
        "id": "33c70ad655efea99",
        "type": "ibmiot",
        "name": "ibmiot",
        "keepalive": "60",
        "serverName": "82ualn.messaging.internetofthings.ibmcloud.com/",
        "cleansession": true,
        "appId": "umdtadl",
        "shared": false
    }
]