flows (1).json
[
    {
        "id": "e29f7f20c482a17d",
        "type": "tab",
        "label": "Thiago",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9419a1b3961b1dc2",
        "type": "http in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "url": "/salvartadl",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "0e7f9405c1925c24"
            ]
        ]
    },
    {
        "id": "b085169a11178fa4",
        "type": "http response",
        "z": "e29f7f20c482a17d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "0e7f9405c1925c24",
        "type": "cloudantplus out",
        "z": "e29f7f20c482a17d",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "b085169a11178fa4",
                "5bc8dd1ac53c2e07"
            ]
        ]
    },
    {
        "id": "5bc8dd1ac53c2e07",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "5bdc8d7d23fe1097",
        "type": "http in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "url": "/salvartadlpost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "f81202ff3375904e"
            ]
        ]
    },
    {
        "id": "19380ad645d69196",
        "type": "http response",
        "z": "e29f7f20c482a17d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "f81202ff3375904e",
        "type": "cloudantplus out",
        "z": "e29f7f20c482a17d",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "19380ad645d69196",
                "b71dcdcf4b19d220"
            ]
        ]
    },
    {
        "id": "b71dcdcf4b19d220",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "0adb13aee946b1e0",
        "type": "http in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "url": "deletetadl/",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "6469336bbb044fc5"
            ]
        ]
    },
    {
        "id": "6469336bbb044fc5",
        "type": "cloudantplus out",
        "z": "e29f7f20c482a17d",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "d445d4aa9d24529a",
                "7dc834b481717e29"
            ]
        ]
    },
    {
        "id": "d445d4aa9d24529a",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "69ad42d89953407d",
        "type": "http in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "url": "/puttadl/",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "2c1486490eec3d01"
            ]
        ]
    },
    {
        "id": "2c1486490eec3d01",
        "type": "cloudantplus out",
        "z": "e29f7f20c482a17d",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "23decd23b969badf",
                "98a7c9e1250cb400"
            ]
        ]
    },
    {
        "id": "23decd23b969badf",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 900,
        "wires": []
    },
    {
        "id": "98a7c9e1250cb400",
        "type": "http response",
        "z": "e29f7f20c482a17d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "7dc834b481717e29",
        "type": "http response",
        "z": "e29f7f20c482a17d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "c41671ecc22e5ff1",
        "type": "http in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "url": "/patchtadl/",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "c670bfaa8f67029f"
            ]
        ]
    },
    {
        "id": "c670bfaa8f67029f",
        "type": "cloudantplus out",
        "z": "e29f7f20c482a17d",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "ea662f2d6827e06a",
                "3e6b9dc815a0fea9"
            ]
        ]
    },
    {
        "id": "ea662f2d6827e06a",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3e6b9dc815a0fea9",
        "type": "http response",
        "z": "e29f7f20c482a17d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2210d90a72d364e7",
        "type": "cloudantplus in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 370,
        "y": 1260,
        "wires": [
            [
                "b33f17cf6d236421"
            ]
        ]
    },
    {
        "id": "51b38d336d231204",
        "type": "http in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "url": "/gettadl",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "2210d90a72d364e7"
            ]
        ]
    },
    {
        "id": "b33f17cf6d236421",
        "type": "http response",
        "z": "e29f7f20c482a17d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1260,
        "wires": []
    },
    {
        "id": "ed4bee0f18370887",
        "type": "http in",
        "z": "e29f7f20c482a17d",
        "name": "",
        "url": "/multpost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1920,
        "wires": [
            [
                "90667e4dbdfae46e"
            ]
        ]
    },
    {
        "id": "14713331f1653050",
        "type": "http response",
        "z": "e29f7f20c482a17d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 1940,
        "wires": []
    },
    {
        "id": "5de99cdf712925e2",
        "type": "cloudantplus out",
        "z": "e29f7f20c482a17d",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 650,
        "y": 1940,
        "wires": [
            [
                "14713331f1653050",
                "040dc42bd231eaad"
            ]
        ]
    },
    {
        "id": "040dc42bd231eaad",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 2040,
        "wires": []
    },
    {
        "id": "1ca29abf0d58add6",
        "type": "split",
        "z": "e29f7f20c482a17d",
        "name": "",
        "splt": ", ",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 2180,
        "wires": [
            [
                "13bded893026a175"
            ]
        ]
    },
    {
        "id": "149c5d463662f654",
        "type": "change",
        "z": "e29f7f20c482a17d",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": " ",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "},",
                "fromt": "str",
                "to": "}, ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 2200,
        "wires": [
            [
                "1ca29abf0d58add6",
                "ca127c11d2e10f57"
            ]
        ]
    },
    {
        "id": "13bded893026a175",
        "type": "json",
        "z": "e29f7f20c482a17d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 2100,
        "wires": [
            [
                "5de99cdf712925e2"
            ]
        ]
    },
    {
        "id": "986ec23ec8e2fd8f",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1920,
        "wires": []
    },
    {
        "id": "90667e4dbdfae46e",
        "type": "change",
        "z": "e29f7f20c482a17d",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 1980,
        "wires": [
            [
                "986ec23ec8e2fd8f",
                "754075633ec3c02e"
            ]
        ]
    },
    {
        "id": "754075633ec3c02e",
        "type": "change",
        "z": "e29f7f20c482a17d",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\n",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 2080,
        "wires": [
            [
                "149c5d463662f654",
                "ea26c3d51a6a8c92"
            ]
        ]
    },
    {
        "id": "ea26c3d51a6a8c92",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 2000,
        "wires": []
    },
    {
        "id": "ca127c11d2e10f57",
        "type": "debug",
        "z": "e29f7f20c482a17d",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 2320,
        "wires": []
    },
    {
        "id": "9fa2f51b321c01e4",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1oyyl44w0ka2aw9z3fvb53wag6o79wi8boxf0xsbnpr:6c078caec78a17bbd953a16fff300224@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]