tadleaocar.json
[
    {
        "id": "74fab5dd93cb4d49",
        "type": "tab",
        "label": "Thiago",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60d08c039946c1be",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "/salvartadl",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e781b22dda254af3"
            ]
        ]
    },
    {
        "id": "a225b5d18e1a4335",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "e781b22dda254af3",
        "type": "cloudantplus out",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "a225b5d18e1a4335",
                "354435fef9359a85"
            ]
        ]
    },
    {
        "id": "354435fef9359a85",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "e5e9a34381f72d2f",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "/salvartadlpost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "088629cc24d91be2"
            ]
        ]
    },
    {
        "id": "f323bfa53e634eb9",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "088629cc24d91be2",
        "type": "cloudantplus out",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "f323bfa53e634eb9",
                "e57f200e8aa8b7d6"
            ]
        ]
    },
    {
        "id": "e57f200e8aa8b7d6",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "2d9c7ac160ac085e",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "deletetadl/",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "45db8c993a797e1e"
            ]
        ]
    },
    {
        "id": "45db8c993a797e1e",
        "type": "cloudantplus out",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "20d6160a12eb7dbb",
                "67b12c4f510e1224"
            ]
        ]
    },
    {
        "id": "20d6160a12eb7dbb",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "8a09baf3eaf92916",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "/puttadl/",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "d3f708c101540168"
            ]
        ]
    },
    {
        "id": "d3f708c101540168",
        "type": "cloudantplus out",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "4b16f78f18a6ae97",
                "715befc0ccd06d11"
            ]
        ]
    },
    {
        "id": "4b16f78f18a6ae97",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 900,
        "wires": []
    },
    {
        "id": "715befc0ccd06d11",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "67b12c4f510e1224",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "e83766d8432479bf",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "/patchtadl/",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "eb0514bfc4468202"
            ]
        ]
    },
    {
        "id": "eb0514bfc4468202",
        "type": "cloudantplus out",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "c0a0dbaa6bd4d8bc",
                "d1b1b30837355ee2"
            ]
        ]
    },
    {
        "id": "c0a0dbaa6bd4d8bc",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d1b1b30837355ee2",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9852ca8a885c47e4",
        "type": "cloudantplus in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 370,
        "y": 1260,
        "wires": [
            [
                "afa49a2f130837a6"
            ]
        ]
    },
    {
        "id": "75d593a8716a4ccc",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "/gettadl",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "9852ca8a885c47e4"
            ]
        ]
    },
    {
        "id": "afa49a2f130837a6",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1260,
        "wires": []
    },
    {
        "id": "4014adbd5d590969",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "/multpost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1920,
        "wires": [
            [
                "234529937c359497"
            ]
        ]
    },
    {
        "id": "e2162d469e091507",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 1940,
        "wires": []
    },
    {
        "id": "5b221f9755d6995c",
        "type": "cloudantplus out",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 650,
        "y": 1940,
        "wires": [
            [
                "e2162d469e091507",
                "bb6a82c37ea41735"
            ]
        ]
    },
    {
        "id": "bb6a82c37ea41735",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 2040,
        "wires": []
    },
    {
        "id": "1fae71ca6f49cbe2",
        "type": "split",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "splt": ", ",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 2180,
        "wires": [
            [
                "94851d08a69e1e4e"
            ]
        ]
    },
    {
        "id": "8534fb9459ece9ed",
        "type": "change",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": " ",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "},",
                "fromt": "str",
                "to": "}, ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 2200,
        "wires": [
            [
                "1fae71ca6f49cbe2",
                "f273cf43f7c54ea2"
            ]
        ]
    },
    {
        "id": "94851d08a69e1e4e",
        "type": "json",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 2100,
        "wires": [
            [
                "5b221f9755d6995c"
            ]
        ]
    },
    {
        "id": "4907fbef57663a81",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1920,
        "wires": []
    },
    {
        "id": "234529937c359497",
        "type": "change",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 1980,
        "wires": [
            [
                "4907fbef57663a81",
                "95d9091b779521f9"
            ]
        ]
    },
    {
        "id": "95d9091b779521f9",
        "type": "change",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\n",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 2080,
        "wires": [
            [
                "8534fb9459ece9ed",
                "fdc6172e791e53ab"
            ]
        ]
    },
    {
        "id": "fdc6172e791e53ab",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f273cf43f7c54ea2",
        "type": "debug",
        "z": "74fab5dd93cb4d49",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 2320,
        "wires": []
    },
    {
        "id": "888e66ee0d96cb0a",
        "type": "cloudantplus in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "cloudant": "9fa2f51b321c01e4",
        "database": "tadleaocar",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 390,
        "y": 1460,
        "wires": [
            [
                "6ea32b0c68858e41"
            ]
        ]
    },
    {
        "id": "894d9865154bd8b5",
        "type": "http in",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "url": "/getest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "888e66ee0d96cb0a"
            ]
        ]
    },
    {
        "id": "6ea32b0c68858e41",
        "type": "http response",
        "z": "74fab5dd93cb4d49",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9fa2f51b321c01e4",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1oyyl44w0ka2aw9z3fvb53wag6o79wi8boxf0xsbnpr:6c078caec78a17bbd953a16fff300224@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]